/venv/
/.idea/
/__pycache__/
__pycache__/
enemy/__pycache__/
README.md
/README.md/
README.md/
database/*
encodings/*
img
img/*
video/*
parse/*

# Windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/
